@page "/ErrorPage"
<PageTitle>Error</PageTitle>

<h2>Error:</h2>
<p></p>
<p style="color: red; font-size: large;">@FriendlyErrorMessage</p>

@if (ShowDetailedError)
{
    <div>
        <p>&nbsp;</p>
        <h4>Detailed Error:</h4>
        <p>@DetailedErrorMessage</p>

        <h4>Error Handler:</h4>
        <p>@ErrorHandlerText</p>

        <h4>Detailed Error Message:</h4>
        <p>@InnerMessageText</p>
        <pre>@InnerTraceText</pre>
    </div>
}
