@page "/ProductList"
@using Microsoft.EntityFrameworkCore
@inject ProductContext Db

<PageTitle>Products</PageTitle>

<section>
    <div>
        <hgroup>
            <h2>@Heading</h2>
        </hgroup>

        <ListView DataKeyNames="ProductID" GroupItemCount="4" ItemType="Product" Items="@_products">
            <EmptyDataTemplate>
                <table>
                    <tr>
                        <td>No data was returned.</td>
                    </tr>
                </table>
            </EmptyDataTemplate>
            <EmptyItemTemplate>
                <td></td>
            </EmptyItemTemplate>
            <GroupTemplate Context="items">
                <tr id="itemPlaceholderContainer">
                    @items
                </tr>
            </GroupTemplate>
            <ItemTemplate Context="Item">
                <td>
                    <table>
                        <tr>
                            <td>
                                <a href="/ProductDetails?productId=@Item.ProductID">
                                    <img src="/Catalog/Images/Thumbs/@Item.ImagePath" width="100" height="75" border="1" alt="@Item.ProductName" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/ProductDetails?productId=@Item.ProductID">
                                    @Item.ProductName
                                </a>
                                <br />
                                <span>
                                    <b>Price:</b> @String.Format("{0:c}", Item.UnitPrice)
                                </span>
                                <br />
                                <a href="/AddToCart?productId=@Item.ProductID" data-enhance-nav="false">
                                    <span class="ProductListItem">
                                        <b>Add To Cart</b>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </ItemTemplate>
            <LayoutTemplate Context="groups">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td>
                                <table id="groupPlaceholderContainer" style="width:100%">
                                    @groups
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </LayoutTemplate>
        </ListView>
    </div>
</section>

@code {
    [Parameter, SupplyParameterFromQuery(Name = "id")]
    public int? CategoryId { get; set; }

    [Parameter, SupplyParameterFromQuery(Name = "categoryName")]
    public string? CategoryName { get; set; }

    private List<Product> _products = new();
    private string Heading => string.IsNullOrWhiteSpace(CategoryName) ? "Products" : CategoryName!;

    protected override async Task OnParametersSetAsync()
    {
        IQueryable<Product> query = Db.Products.AsNoTracking().Include(p => p.Category).OrderBy(p => p.ProductName);

        if (CategoryId.HasValue && CategoryId > 0)
        {
            query = query.Where(p => p.CategoryID == CategoryId);
        }

        if (!string.IsNullOrWhiteSpace(CategoryName))
        {
            query = query.Where(p => p.Category != null && p.Category.CategoryName == CategoryName);
        }

        _products = await query.ToListAsync();
        Title = Heading;
    }
}
