@page "/ProductList"
@page "/ProductList/{CategoryName}"
@page "/Category/{CategoryName}"
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ProductContext> DbFactory

<PageTitle>Products</PageTitle>

<section>
    <div>
        <hgroup>
            <h2>@(Page.Title)</h2>
        </hgroup>

        <ListView DataKeyNames="ProductID" GroupItemCount="4"
                  ItemType="Product" SelectMethod="GetProducts">
            <EmptyDataTemplate>
                <table>
                    <tr>
                        <td>No data was returned.</td>
                    </tr>
                </table>
            </EmptyDataTemplate>
            <EmptyItemTemplate>
                <td></td>
            </EmptyItemTemplate>
            <GroupTemplate Context="items">
                <tr id="itemPlaceholderContainer">
                    @items
                </tr>
            </GroupTemplate>
            <ItemTemplate Context="item">
                <td>
                    <table>
                        <tr>
                            <td>
                                <a href="@($"/Product/{item.ProductName}")" data-enhance-nav="false">
                                    <img src="@($"/Catalog/Images/Thumbs/{item.ImagePath}")" width="100" height="75" border="1" alt="@item.ProductName" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@($"/Product/{item.ProductName}")" data-enhance-nav="false">
                                    @item.ProductName
                                </a>
                                <br />
                                <span>
                                    <b>Price: </b>@string.Format("{0:c}", item.UnitPrice)
                                </span>
                                <br />
                                <a href="@($"/AddToCart.aspx?productID={item.ProductID}")" data-enhance-nav="false">
                                    <span class="ProductListItem">
                                        <b>Add To Cart</b>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </ItemTemplate>
            <LayoutTemplate Context="groups">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td>
                                <table id="groupPlaceholderContainer" style="width:100%">
                                    @groups
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </LayoutTemplate>
        </ListView>
    </div>
</section>

@code {
    [Parameter, SupplyParameterFromQuery(Name = "id")] public int? CategoryId { get; set; }
    [Parameter] public string? CategoryName { get; set; }

    public IQueryable<Product> GetProducts()
    {
        using var db = DbFactory.CreateDbContext();
        IQueryable<Product> query = db.Products.Include(p => p.Category);

        if (CategoryId.HasValue && CategoryId > 0)
        {
            query = query.Where(p => p.CategoryID == CategoryId);
        }

        if (!string.IsNullOrEmpty(CategoryName))
        {
            query = query.Where(p => string.Compare(p.Category.CategoryName, CategoryName) == 0);
        }

        return query.ToList().AsQueryable();
    }
}
