@page "/ProductList"
<PageTitle>Products</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <section>
                <div>
                    <h2>Products</h2>
                    <ListView ItemType="Product" Items="@Products">
                        <EmptyDataTemplate>
                            <p>No products were found.</p>
                        </EmptyDataTemplate>
                        <LayoutTemplate Context="items">
                            <div class="row">@items</div>
                        </LayoutTemplate>
                        <ItemTemplate Context="Item">
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <a href="/ProductDetails?productId=@Item.ProductID">
                                        <img src="/Catalog/Images/Thumbs/@Item.ImagePath" alt="@Item.ProductName" style="width:100%;height:160px;object-fit:contain" />
                                    </a>
                                    <div class="caption">
                                        <h4><a href="/ProductDetails?productId=@Item.ProductID">@Item.ProductName</a></h4>
                                        <p><strong>Price:</strong> @Item.UnitPrice?.ToString("C")</p>
                                        <p><a href="/AddToCart?productId=@Item.ProductID" class="btn btn-primary">Add To Cart</a></p>
                                    </div>
                                </div>
                            </div>
                        </ItemTemplate>
                    </ListView>
                </div>
            </section>
        </Content>
    </ChildComponents>
</Site>
