@page "/ShoppingCart"
<PageTitle>Shopping Cart</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <div id="ShoppingCartTitle" class="ContentHead"><h1>@ShoppingCartTitle</h1></div>

            <form method="post" @formname="shopping-cart-form">
                <AntiforgeryToken />
                <GridView AutoGenerateColumns="false" ShowFooter="false" GridLines="@GridLines.Vertical" CellPadding="4"
                          ItemType="CartItem" Items="@CartItems"
                          CssClass="table table-striped table-bordered">
                    <Columns>
                        <BoundField ItemType="CartItem" DataField="ProductId" HeaderText="ID" SortExpression="ProductId" />
                        <BoundField ItemType="CartItem" DataField="Product.ProductName" HeaderText="Name" />
                        <BoundField ItemType="CartItem" DataField="Product.UnitPrice" HeaderText="Price (each)" DataFormatString="{0:c}" />
                        <TemplateField ItemType="CartItem" HeaderText="Quantity">
                            <ItemTemplate Context="Item">
                                <input type="number" min="1" name="qty_@Item.ProductId" value="@Item.Quantity" style="width:80px" />
                            </ItemTemplate>
                        </TemplateField>
                        <TemplateField ItemType="CartItem" HeaderText="Item Total">
                            <ItemTemplate Context="Item">
                                @((Convert.ToDecimal(Item.Product?.UnitPrice ?? 0) * Item.Quantity).ToString("C"))
                            </ItemTemplate>
                        </TemplateField>
                        <TemplateField ItemType="CartItem" HeaderText="Remove Item">
                            <ItemTemplate Context="Item">
                                <input type="checkbox" name="remove_@Item.ProductId" />
                            </ItemTemplate>
                        </TemplateField>
                    </Columns>
                </GridView>

                <div>
                    <p></p>
                    <strong>Order Total: @TotalText</strong>
                </div>
                <br />
                <div class="btn-toolbar">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="/Checkout/CheckoutStart" class="btn btn-default">Checkout</a>
                </div>
            </form>
        </Content>
    </ChildComponents>
</Site>