@page "/ShoppingCart"
@page "/ShoppingCart.aspx"
<PageTitle>Shopping Cart</PageTitle>

<div id="ShoppingCartTitle" class="ContentHead"><h1>Shopping Cart</h1></div>
<GridView id="CartList" @ref="CartList" AutoGenerateColumns="false" ShowFooter="true" GridLines="@GridLines.Vertical" CellPadding="4"
          TItem="CartItem" Items="cartItems"
          CssClass="table table-striped table-bordered">
    <Columns>
        <BoundField DataField="ProductID" HeaderText="ID" SortExpression="ProductID" />
        <BoundField DataField="Product.ProductName" HeaderText="Name" />
        <BoundField DataField="Product.UnitPrice" HeaderText="Price (each)" DataFormatString="{0:c}" />
        <TemplateField HeaderText="Quantity">
            <ItemTemplate Context="Item">
                <TextBox id="PurchaseQuantity" @ref="PurchaseQuantity" Width="40" Text="@Item.Quantity.ToString()"></TextBox>
            </ItemTemplate>
        </TemplateField>
        <TemplateField HeaderText="Item Total">
            <ItemTemplate Context="Item">
                @(String.Format("{0:c}", ((Convert.ToDouble(Item.Quantity)) * Convert.ToDouble(Item.Product.UnitPrice))))
            </ItemTemplate>
        </TemplateField>
        <TemplateField HeaderText="Remove Item">
            <ItemTemplate Context="Item">
                <CheckBox id="Remove" @ref="Remove"></CheckBox>
            </ItemTemplate>
        </TemplateField>
    </Columns>
</GridView>
<div>
    <p></p>
    <strong>
        <Label id="LabelTotalText" @ref="LabelTotalText" Text="Order Total: "></Label>
        <Label id="lblTotal" @ref="lblTotal" Text="@OrderTotalText"></Label>
    </strong>
</div>
<br />
<table>
    <tr>
        <td>
            <Button id="UpdateBtn" @ref="UpdateBtn" Text="Update" OnClick="@UpdateBtn_Click" />
        </td>
        <td>
            <ImageButton id="CheckoutImageBtn" @ref="CheckoutImageBtn"
                         ImageUrl="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"
                         Width="145" AlternateText="Check out with PayPal"
                         OnClick="@CheckoutBtn_Click"
                         BorderWidth="0" />
        </td>
    </tr>
</table>
