@page "/ShoppingCart"
<PageTitle></PageTitle>
<PageTitle>Shopping Cart</PageTitle>

<div class="ContentHead">
    <h1>@Heading</h1>
</div>

@if (Items.Count == 0)
{
    <p>Your shopping cart is empty.</p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price (each)</th>
                <th>Quantity</th>
                <th>Item Total</th>
                <th>Remove Item</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Product?.ProductName</td>
                    <td>@($"{item.Product?.UnitPrice:c}")</td>
                    <td>
                        <form method="get" action="/ShoppingCart" class="form-inline">
                            <input type="hidden" name="action" value="update" />
                            <input type="hidden" name="productId" value="@item.ProductId" />
                            <input class="form-control" style="width: 80px" type="text" name="quantity" value="@item.Quantity" />
                            <button class="btn btn-default" type="submit">Update</button>
                        </form>
                    </td>
                    <td>@($"{(item.Quantity * (decimal)(item.Product?.UnitPrice ?? 0d)):c}")</td>
                    <td>
                        <form method="get" action="/ShoppingCart">
                            <input type="hidden" name="removeProductId" value="@item.ProductId" />
                            <button class="btn btn-link" type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <p></p>
        <strong>Order Total: @($"{Total:c}")</strong>
    </div>
}
