@page "/ShoppingCart"
<PageTitle>Shopping Cart</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <div id="ShoppingCartTitle" class="ContentHead"><h1>@ShoppingCartTitle</h1></div>
            @if (CartList.Count > 0)
            {
                <GridView ItemType="CartItem" Items="CartList" AutoGenerateColumns="false" ShowFooter="true" GridLines="@GridLines.Vertical" CellPadding="4" CssClass="table table-striped table-bordered">
                    <Columns>
                        <BoundField ItemType="CartItem" DataField="ProductId" HeaderText="ID" />
                        <BoundField ItemType="CartItem" DataField="Product.ProductName" HeaderText="Name" />
                        <BoundField ItemType="CartItem" DataField="Product.UnitPrice" HeaderText="Price (each)" DataFormatString="{0:c}" />
                        <BoundField ItemType="CartItem" DataField="Quantity" HeaderText="Quantity" />
                    </Columns>
                </GridView>
                <div>
                    <p></p>
                    <strong>Order Total: @TotalText</strong>
                </div>
                <br />
                <table>
                    <tr>
                        <td>
                            <Button Text="Update" OnClick="@UpdateBtn_Click" />
                        </td>
                        <td>
                            <Button Text="Checkout" OnClick="@CheckoutBtn_Click" />
                        </td>
                    </tr>
                </table>
            }
            else
            {
                <p>Your shopping cart is empty.</p>
            }
        </Content>
    </ChildComponents>
</Site>
