@page "/ShoppingCart"
@page "/ShoppingCart.aspx"
<PageTitle></PageTitle>

<div id="ShoppingCartTitle" class="ContentHead"><h1>@ShoppingCartTitleText</h1></div>
<GridView id="CartList" AutoGenerateColumns="false" ShowFooter="true" GridLines="@GridLines.Vertical" CellPadding="4"
    ItemType="CartItem" SelectMethod="GetShoppingCartItems"
    CssClass="table table-striped table-bordered">
    <Columns>
        <BoundField ItemType="CartItem" DataField="ProductID" HeaderText="ID" SortExpression="ProductID" />
        <BoundField ItemType="CartItem" DataField="Product.ProductName" HeaderText="Name" />
        <BoundField ItemType="CartItem" DataField="Product.UnitPrice" HeaderText="Price (each)" DataFormatString="{0:c}" />
        <BoundField ItemType="CartItem" DataField="Quantity" HeaderText="Quantity" />
        <TemplateField ItemType="CartItem" HeaderText="Item Total">
            <ItemTemplate Context="Item">
                @(String.Format("{0:c}", Convert.ToDouble(Item.Quantity) * Convert.ToDouble(Item.Product.UnitPrice)))
            </ItemTemplate>
        </TemplateField>
        <TemplateField ItemType="CartItem" HeaderText="Remove Item">
            <ItemTemplate Context="Item">
                <Label Text="Manage during checkout" />
            </ItemTemplate>
        </TemplateField>
    </Columns>
</GridView>
<div>
    <p></p>
    <strong>
        <Label id="LabelTotalText" Text="@OrderTotalLabelText"></Label>
        <Label id="lblTotal" Text="@OrderTotalText"></Label>
    </strong>
</div>
<br />
<table>
    <tr>
        <td>
            <Button id="UpdateBtn" Text="Update" OnClick="@UpdateBtn_Click" Visible="@HasCartItems" />
        </td>
        <td>
            <ImageButton id="CheckoutImageBtn"
                         ImageUrl="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"
                         Width="145" AlternateText="Check out with PayPal"
                         OnClick="@CheckoutBtn_Click"
                         BorderWidth="0" Visible="@HasCartItems" />
        </td>
    </tr>
</table>
