@page "/ShoppingCart"
<div id="ShoppingCartTitle" class="ContentHead"><h1>Shopping Cart</h1></div>
    <GridView ID="CartList" AutoGenerateColumns="@false" ShowFooter="@true" GridLines="@GridLines.Vertical" CellPadding="4"
        TItem="CartItem" Items="@CartItems"
        CssClass="table table-striped table-bordered" >   
        <Columns>
        <BoundField DataField="ProductId" HeaderText="ID" SortExpression="ProductId" />        
        <BoundField DataField="Product.ProductName" HeaderText="Name" />        
        <BoundField DataField="Product.UnitPrice" HeaderText="Price (each)" DataFormatString="{0:c}"/>     
        <TemplateField   HeaderText="Quantity">            
                <ItemTemplate>
                    <TextBox ID="PurchaseQuantity" Width="40" Text="@context.Quantity.ToString()"></TextBox> 
                </ItemTemplate>        
        </TemplateField>    
        <TemplateField HeaderText="Item Total">            
                <ItemTemplate>
                    @($"{((double)context.Quantity * (double)(context.Product?.UnitPrice ?? 0)):c}")
                </ItemTemplate>        
        </TemplateField> 
        <TemplateField HeaderText="Remove Item">            
                <ItemTemplate>
                    <CheckBox id="Remove"></CheckBox>
                </ItemTemplate>        
        </TemplateField>    
        </Columns>    
    </GridView>
    <div>
        <p></p>
        <strong>
            <Label ID="LabelTotalText" Text="Order Total: "></Label>
            <Label ID="lblTotal" Text="$53.95"></Label>
        </strong> 
    </div>
    <br />
    <table> 
    <tr>
      <td>
        <Button ID="UpdateBtn" Text="Update" />
      </td>
      <td>
        <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" 
                      width="145" alt="Check out with PayPal" 
                      style="background:transparent; border:0" />
      </td>
    </tr>
    </table>

