@page "/About"
<WebFormsForm @formname="AboutForm">
    <AntiforgeryToken />
<PageTitle></PageTitle>

     <link href="CSS/CSS_About.css" rel="stylesheet" />
     <script src="JQuery/JQuery_About.js"></script>


    <div id="header">
        <h1> Students Body Statistics </h1>
    </div>
     <div id="grv">
        <GridView Items="_enrollmentData" TItem="KeyValuePair<string, int>" CssClass="grid" 
            ID="EnrollmentsStat" @ref="EnrollmentsStat"
            AutoGenerateColumns="false" EmptyDataText="There are no records to display"
             CellPadding="4" ForeColor='@("#333333")' GridLines="@GridLines.None">
            <Columns>
                <BoundField ItemType="KeyValuePair<string, int>" DataField="Key" HeaderText="Enrollment Date" ReadOnly="true">
                </BoundField>
                <BoundField ItemType="KeyValuePair<string, int>" DataField="Value" HeaderText="Students" ReadOnly="true">
                </BoundField>
            </Columns>
        
            <ChildComponents>
                <AlternatingRowStyle BackColor='@("White")' />
                <HeaderStyle BackColor='@("Black")' BorderColor='@("White")' BorderStyle="@BorderStyle.Solid" Font-Bold="true" />
                <ItemStyle BorderColor='@("White")' BorderStyle="@BorderStyle.Solid" HorizontalAlign="@HorizontalAlign.Center" />
                <FooterStyle BorderStyle="@BorderStyle.Solid" />
                <HeaderStyle BackColor='@("Black")' BorderColor='@("White")' BorderStyle="@BorderStyle.Solid" Font-Bold="true" />
                <ItemStyle BorderColor='@("White")' BorderStyle="@BorderStyle.Solid" HorizontalAlign="@HorizontalAlign.Center" />
                <EditRowStyle BackColor='@("#2461BF")' />
                <FooterStyle BackColor='@("#507CD1")' Font-Bold="true" ForeColor='@("White")' />
                <HeaderStyle BackColor='@("#507CD1")' Font-Bold="true" ForeColor='@("White")' />
                <PagerStyle BackColor='@("#2461BF")' ForeColor='@("White")' HorizontalAlign="@HorizontalAlign.Center" />
                <RowStyle BackColor='@("#EFF3FB")' />
                <SelectedRowStyle BackColor='@("#D1DDF1")' Font-Bold="true" ForeColor='@("#333333")' />
                <SortedAscendingCellStyle BackColor='@("#F5F7FB")' />
                <SortedAscendingHeaderStyle BackColor='@("#6D95E1")' />
                <SortedDescendingCellStyle BackColor='@("#E9EBEF")' />
                <SortedDescendingHeaderStyle BackColor='@("#4870BE")' />
            </ChildComponents>
</GridView>
    </div>


</WebFormsForm>
