@page "/About"
<HeadContent>
     <link href="CSS/CSS_About.css" rel="stylesheet" />
     <script src="JQuery/JQuery_About.js"></script>
</HeadContent>
<div id="header">
    <h1> Students Body Statistics </h1>
</div>
<div id="grv">
    <GridView ItemType="KeyValuePair<string, int>"
        CssClass="grid"
        ID="EnrollmentsStat"
        Items="@_enrollmentData"
        AutoGenerateColumns="false"
        EmptyDataText="There are no records to display"
        CellPadding="4" ForeColor="@("#333333")" GridLines="@GridLines.None">
        <AlternatingRowStyleContent>
            <GridViewAlternatingRowStyle BackColor="WebColor.White" />
        </AlternatingRowStyleContent>
        <Columns>
            <BoundField ItemType="KeyValuePair<string, int>" DataField="Key" HeaderText="Enrollment Date" ReadOnly="true" />
            <BoundField ItemType="KeyValuePair<string, int>" DataField="Value" HeaderText="Students" ReadOnly="true" />
        </Columns>
        <EditRowStyleContent>
            <GridViewEditRowStyle BackColor="@("#2461BF")" />
        </EditRowStyleContent>
        <FooterStyleContent>
            <GridViewFooterStyle BackColor="@("#507CD1")" Font-Bold="true" ForeColor="WebColor.White" />
        </FooterStyleContent>
        <HeaderStyleContent>
            <GridViewHeaderStyle BackColor="@("#507CD1")" Font-Bold="true" ForeColor="WebColor.White" />
        </HeaderStyleContent>
        <PagerStyleContent>
            <GridViewPagerStyle BackColor="@("#2461BF")" ForeColor="WebColor.White" HorizontalAlign="@HorizontalAlign.Center" />
        </PagerStyleContent>
        <RowStyleContent>
            <GridViewRowStyle BackColor="@("#EFF3FB")" />
        </RowStyleContent>
        <SelectedRowStyleContent>
            <GridViewSelectedRowStyle BackColor="@("#D1DDF1")" Font-Bold="true" ForeColor="@("#333333")" />
        </SelectedRowStyleContent>
    </GridView>
</div>
