@page "/About"
<HeadContent>
     <link href="/CSS/CSS_About.css" rel="stylesheet" />
     <script src="/JQuery/JQuery_About.js"></script>
</HeadContent>
<div id="header">
        <h1> Students Body Statistics </h1>
    </div>
     <div id="grv">
        <GridView Items="@_enrollmentStats" ItemType="KeyValuePair<string, int>"
            CssClass="grid"
            AutoGenerateColumns="false" EmptyDataText="There are no records to display"
             CellPadding="4" ForeColor="@("#333333")" GridLines="GridLines.None">
            <AlternatingRowStyleContent><GridViewRowStyle BackColor="WebColor.White" /></AlternatingRowStyleContent>
            <Columns>
                <BoundField DataField="Key" HeaderText="Enrollment Date" ReadOnly="true">
                <HeaderStyle BackColor="WebColor.Black" BorderColor="WebColor.White" BorderStyle="BorderStyle.Solid" Font-Bold="true" Font-Size="30" />
                <ItemStyle BorderColor="WebColor.White" BorderStyle="BorderStyle.Solid" Font-Size="20" HorizontalAlign="HorizontalAlign.Center" />
                </BoundField>
                <BoundField DataField="Value" HeaderText="Students" ReadOnly="true">
                <FooterStyle BorderStyle="BorderStyle.Solid" />
                <HeaderStyle BackColor="WebColor.Black" BorderColor="WebColor.White" BorderStyle="BorderStyle.Solid" Font-Bold="true" Font-Size="30" />
                <ItemStyle BorderColor="WebColor.White" BorderStyle="BorderStyle.Solid" Font-Size="20" HorizontalAlign="HorizontalAlign.Center" />
                </BoundField>
            </Columns>
            <EditRowStyleContent><GridViewRowStyle BackColor="@("#2461BF")" /></EditRowStyleContent>
            <FooterStyleContent><GridViewRowStyle BackColor="@("#507CD1")" Font-Bold="true" ForeColor="WebColor.White" /></FooterStyleContent>
            <HeaderStyleContent><GridViewHeaderStyle BackColor="@("#507CD1")" Font-Bold="true" ForeColor="WebColor.White" /></HeaderStyleContent>
            <PagerStyleContent><GridViewRowStyle BackColor="@("#2461BF")" ForeColor="WebColor.White" HorizontalAlign="HorizontalAlign.Center" /></PagerStyleContent>
            <RowStyleContent><GridViewRowStyle BackColor="@("#EFF3FB")" /></RowStyleContent>
            <SelectedRowStyleContent><GridViewRowStyle BackColor="@("#D1DDF1")" Font-Bold="true" ForeColor="@("#333333")" /></SelectedRowStyleContent>
        </GridView>
    </div>

