@page "/Students"
@inherits BlazorWebFormsComponents.WebFormsPageBase
<PageTitle>Contoso University - Students</PageTitle>

<link href="CSS/Students_CSS.css" rel="stylesheet" />

<div id="grvStudentsData">
    <GridView ItemType="object"
        @ref="grv"
        DataSource="studentData"
        CssClass="grv"
        AutoGenerateColumns="false"
        EmptyDataText="There are no records to display"
        BackColor='@("White")' BorderColor='@("#3366CC")' BorderWidth="1"
        CellPadding="4" Height="336" Width="416">
        <Columns>
            <BoundField ItemType="object" DataField="ID" HeaderText="Student ID" ReadOnly="true" />
            <BoundField ItemType="object" DataField="FullName" HeaderText="Student Name" />
            <BoundField ItemType="object" DataField="Email" HeaderText="Email" />
            <BoundField ItemType="object" DataField="Date" HeaderText="Enrollment Date" ReadOnly="true" />
            <BoundField ItemType="object" DataField="Count" HeaderText="Number of Courses" ReadOnly="true" />
        </Columns>
        <ChildComponents>
            <FooterStyle BackColor='@("#99CCCC")' ForeColor='@("#003399")' />
            <HeaderStyle BackColor='@("#003399")' Font-Bold="true" ForeColor='@("#CCCCFF")' />
            <PagerStyle BackColor='@("#99CCCC")' ForeColor='@("#003399")' HorizontalAlign="@HorizontalAlign.Left" />
            <RowStyle BackColor='@("White")' ForeColor='@("#003399")' />
            <SelectedRowStyle BackColor='@("#009999")' Font-Bold="true" ForeColor='@("#CCFF99")' />
        </ChildComponents>
    </GridView>
</div>
<div id="addStud">
    <h1 id="addStudent">Add Student</h1>
    <p><em>Student enrollment form coming soon.</em></p>
</div>
<div id="ajax">
    <h1 id="searchStud">Search Student</h1>
    <p><em>Student search coming soon.</em></p>
</div>