@page "/Students"
<HeadContent>
    <link href="CSS/Students_CSS.css" rel="stylesheet" />
    <script src="JQuery/JQuery_Students.js"></script>
</HeadContent>
            <div id="grvStudentsData">
                <GridView ItemType="object" ID="grv"
                    CssClass="grv"
                    AutoGenerateColumns="false"
                    EmptyDataText="There are no records to display"
                    DataKeyNames="ID"
                    BackColor="WebColor.White" BorderColor="@("#3366CC")" BorderWidth="1"
                    CellPadding="4" Height="336" Width="416">
                    <Columns>
                        @* TODO: CommandField not yet supported in BWFC  implement delete via custom template *@
                        <BoundField ItemType="object" DataField="ID" HeaderText="Student ID" ReadOnly="true" />
                        <BoundField ItemType="object" DataField="FullName" HeaderText="Student Name" />
                        <BoundField ItemType="object" DataField="Email" HeaderText="Email" />
                        <BoundField ItemType="object" DataField="Date" HeaderText="Enrollment Date" ReadOnly="true" />
                        <BoundField ItemType="object" DataField="Count" HeaderText="Number of Courses" ReadOnly="true" />
                        @* TODO: CommandField for Edit not yet supported  implement via custom template *@
                    </Columns>
                    <FooterStyleContent><GridViewFooterStyle BackColor="@("#99CCCC")" ForeColor="@("#003399")" /></FooterStyleContent>
                    <HeaderStyleContent><GridViewHeaderStyle BackColor="@("#003399")" Font_Bold="true" ForeColor="@("#CCCCFF")" /></HeaderStyleContent>
                    <PagerStyleContent><GridViewPagerStyle BackColor="@("#99CCCC")" ForeColor="@("#003399")" HorizontalAlign="HorizontalAlign.Left" /></PagerStyleContent>
                    <RowStyleContent><GridViewRowStyle BackColor="WebColor.White" ForeColor="@("#003399")" /></RowStyleContent>
                    <SelectedRowStyleContent><GridViewSelectedRowStyle BackColor="@("#009999")" Font_Bold="true" ForeColor="@("#CCFF99")" /></SelectedRowStyleContent>
                    @* TODO: SortedAscendingCellStyle, SortedAscendingHeaderStyle, SortedDescendingCellStyle, SortedDescendingHeaderStyle
                              blocked on BWFC library component creation (scheduled) *@
                </GridView>
            </div>
            <div id="addStud">
                <h1 id="addStudent">Add Student</h1>
                <Table ID="tabAddStud"
                    CssClass="tabAddStud" BorderColor="@("#0033CC")" Font_Bold="true"
                    ForeColor="WebColor.White">
                    <TableRow>
                        <TableCell>First Name</TableCell>
                        <TableCell>
                            <TextBox ID="txtFirstName" placeholder="Type Your First Name..." />
                        </TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>Last Name</TableCell><TableCell>
                            <TextBox ID="txtLastName" placeholder="Type Your Last Name..." />
                        </TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>Birth Date</TableCell><TableCell>
                            <TextBox ID="txtBirthDate" placeholder="dd.mm.year" />
                        </TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>Email</TableCell><TableCell>
                            <TextBox ID="txtEmail" placeholder="Email is Optional..." />
                        </TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>Course Name</TableCell><TableCell>
                            <DropDownList ItemType="object" ID="dropListCourses">
                            </DropDownList>
                        </TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>
                        </TableCell><TableCell>
                            <Button CssClass="insert" ID="btnInsert" Text="New Enrollment" OnClick="@HandleInsert" />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <Button ID="btnClear" Text="Clear" OnClick="@HandleClear" />
                        </TableCell>
                    </TableRow>
                </Table>
            </div>
            <div id="ajax">
                <h1 id="searchStud">Search Student</h1>
                <TextBox CssClass="txtSearch" ID="txtSearch" placeholder="Type Student Name..." />
                @* TODO: ajaxToolkit:AutoCompleteExtender removed  implement client-side autocomplete *@
                <Button ID="btnSearch" Text="Show Student Info" OnClick="@HandleSearch" CssClass="btnInfo" />
                <DetailsView ItemType="object"
                    ID="studentData"
                    Width="125"
                    Height="50"
                    AutoGenerateRows="false"
                    CssClass="detailsView" BorderColor="WebColor.Black" ForeColor="WebColor.Black">
                    <Fields>
                        <BoundField ItemType="object"
                            DataField="FirstName"
                            HeaderText="First Name" />
                        <BoundField ItemType="object" DataField="LastName" HeaderText="Last Name" />
                        <BoundField ItemType="object" DataField="Email" HeaderText="Email" />
                        <BoundField ItemType="object" DataField="BirthDate" HeaderText="Birth Date" />
                        <BoundField ItemType="object" DataField="StudentID" HeaderText="id" />
                    </Fields>
                    <RowStyleContent><GridViewRowStyle BackColor="WebColor.White" /></RowStyleContent>
                </DetailsView>
            </div>