@page "/Students"
@page "/Students.aspx"
@rendermode InteractiveServer
<WebFormsForm @formname="StudentsForm">
    <AntiforgeryToken />
<PageTitle>Students</PageTitle>

    <link href="CSS/Students_CSS.css" rel="stylesheet" />
    <script src="JQuery/JQuery_Students.js"></script>



    <ScriptManager id="ScriptManager2" @ref="ScriptManager2"></ScriptManager>       
    <UpdatePanel>
        
            <div id="grvStudentsData">
                <table id="grv" class="grv" cellpadding="4" border="1" style="background-color: white; border-color: #3366CC; width: 416px; height: 336px; border-collapse: collapse;">
                    <thead>
                        <tr style="background-color: #003399; color: #CCCCFF;">
                            <th>Student ID</th>
                            <th>Student Name</th>
                            <th>Email</th>
                            <th>Enrollment Date</th>
                            <th>Number of Courses</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (_studentGridData.Count == 0)
                        {
                            <tr>
                                <td colspan="6">There are no records to display</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var student in _studentGridData)
                            {
                                <tr style="color: #003399;">
                                    <td>@student.ID</td>
                                    @if (_editingStudentId == student.ID)
                                    {
                                        <td>
                                            <input type="text" @bind="_editFullName" @bind:event="oninput" />
                                        </td>
                                        <td>
                                            <input type="text" @bind="_editEmail" @bind:event="oninput" />
                                        </td>
                                        <td>@student.Date</td>
                                        <td>@student.Count</td>
                                        <td>
                                            <a href="javascript:void(0);" onclick="var row=this.closest('tr'); var values=row.querySelectorAll('input'); window.location='/Students?saveEdit=true&editId=@student.ID&editedName=' + encodeURIComponent(values[0].value) + '&editedEmail=' + encodeURIComponent(values[1].value);">Update</a>
                                            <a href="/Students">Cancel</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>@student.FullName</td>
                                        <td>@student.Email</td>
                                        <td>@student.Date</td>
                                        <td>@student.Count</td>
                                        <td>
                                            <a href="@($"/Students?editId={student.ID}")">Edit</a>
                                            <a href="@($"/Students?deleteId={student.ID}")">Delete</a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div id="addStud">
                <h1 id="addStudent">Add Student</h1>
                <Table id="tabAddStud" @ref="tabAddStud"
                    CssClass="tabAddStud" BorderColor='@("#0033CC")' Font-Bold="true" Font-Italic="false" ForeColor='@("White")'>
                    <TableRow>
                        <TableCell>First Name</TableCell>
                        <TableCell>
                            <input id="txtFirstName" type="text" placeholder="Type Your First Name..." @bind="_firstName" @bind:event="oninput" />
                        </TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>Last Name</TableCell><TableCell>
                            <input id="txtLastName" type="text" placeholder="Type Your Last Name..." @bind="_lastName" @bind:event="oninput" />
                        </TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>Birth Date</TableCell><TableCell>
                            <input id="txtBirthDate" type="text" placeholder="dd.mm.year" @bind="_birthDateText" @bind:event="oninput" />
                        </TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>Email</TableCell><TableCell>
                            <input id="txtEmail" type="text" placeholder="Email is Optional..." @bind="_email" @bind:event="oninput" />
                        </TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>Course Name</TableCell><TableCell>
                            <select id="dropListCourses" @bind="_selectedCourseName">
                                @foreach (var course in _availableCourses)
                                {
                                    <option value="@course.CourseName">@course.CourseName</option>
                                }
                            </select>
                        </TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>               
                        </TableCell><TableCell>
                            <button class="insert" id="btnInsert" type="button" @onclick="btnInsert_Click">New Enrollment</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <button id="btnClear" type="button" @onclick="btnClear_Click">Clear</button>
                        </TableCell>
                    </TableRow>
                </Table>
            </div>
            <div id="ajax">
                <h1 id="searchStud">Search Student</h1>
                <input class="txtSearch" id="txtSearch" type="text" placeholder="Type Student Name..." @bind="_searchText" @bind:event="oninput" />
                <AutoCompleteExtender
                    @ref="AutoCompleteExtender1"
                    TargetControlID="txtSearch"
                    ServiceMethod="GetCompletionList"
                    MinimumPrefixLength="1"
                    CompletionInterval="100"
                    EnableCaching="true"
                    CompletionSetCount="20"
                    ShowOnlyCurrentWordInCompletionListItem="true">
                </AutoCompleteExtender>
                <button id="btnSearch" type="button" class="btnInfo" @onclick="btnSearch_Click">Show Student Info</button>
                @if (_studentSearchResults.Count > 0)
                {
                    var student = _studentSearchResults[0];
                    <table id="studentData" cellspacing="0" rules="all" border="1" style="border-collapse:collapse" class="detailsView">
                        <tr><th>First Name</th><td>@student.FirstName</td></tr>
                        <tr><th>Last Name</th><td>@student.LastName</td></tr>
                        <tr><th>Email</th><td>@student.Email</td></tr>
                        <tr><th>Birth Date</th><td>@student.BirthDate</td></tr>
                        <tr><th>id</th><td>@student.StudentID</td></tr>
                    </table>
                }
                else
                {
                    <table id="studentData" cellspacing="0" rules="all" border="1" style="border-collapse:collapse" class="detailsView"></table>
                }
            </div>
        
    </UpdatePanel>         
     

</WebFormsForm>
