@page "/ManageLogins"

<PageTitle>Manage Logins</PageTitle>

<h2>Manage your external logins.</h2>
<PlaceHolder ID="successMessage" Visible="@(!string.IsNullOrEmpty(_successMessage))">
    <p class="text-success">@_successMessage</p>
</PlaceHolder>
<div>
    <section id="externalLoginsForm">
        <ListView Items="@_logins" ItemType="UserLoginInfo" DataKeyNames="LoginProvider,ProviderKey">
            <LayoutTemplate>
                <h4>Registered Logins</h4>
                <table class="table">
                    <tbody>
                        @context
                    </tbody>
                </table>
            </LayoutTemplate>
            <ItemTemplate>
                <tr>
                    <td>@context.LoginProvider</td>
                    <td>
                        <Button Text="Remove" CausesValidation="false"
                            ToolTip="@($"Remove this {context.LoginProvider} login from your account")"
                            Visible="@_canRemoveExternalLogins" CssClass="btn btn-default" />
                    </td>
                </tr>
            </ItemTemplate>
        </ListView>
    </section>
</div>
<div>
    <OpenAuthProviders ReturnUrl="/Account/ManageLogins" />
</div>

