@inherits BaseStyledComponent

@using BlazorWebFormsComponents.Validations;
@using Microsoft.AspNetCore.Components.Forms;
@using BlazorWebFormsComponents.Enums;

<Microsoft.AspNetCore.Components.Forms.EditForm Model="Model" OnValidSubmit="HandleValidSubmit">

	<CascadingValue Name="FailureTextStyle" Value="FailureTextStyle">
		<CascadingValue Name="TitleTextStyle" Value="TitleTextStyle">
			<CascadingValue Name="LabelStyle" Value="LabelStyle">
				<CascadingValue Name="HyperLinkStyle" Value="HyperLinkStyle">
					<CascadingValue Name="InstructionTextStyle" Value="InstructionTextStyle">
						<CascadingValue Name="TextBoxStyle" Value="TextBoxStyle">
							<CascadingValue Name="LoginButtonStyle" Value="LoginButtonStyle">
								<CascadingValue Name="ValidatorTextStyle" Value="ValidatorTextStyle">
									@ChildContent
								</CascadingValue>
							</CascadingValue>
						</CascadingValue>
					</CascadingValue>
				</CascadingValue>
			</CascadingValue>
		</CascadingValue>
	</CascadingValue>

	@if (!ShowSuccessView)
	{
		@if (ChangePasswordTemplate != null)
		{
			@ChangePasswordTemplate
		}
		else
		{
			<table cellspacing="0" cellpadding="@BorderPadding" id="@ID" class="@GetCssClassOrNull()" style="border-collapse:collapse;@Style">
				<tbody>
					<tr>
						<td>
							<table cellpadding="0">
								<tbody>
									@if (!string.IsNullOrEmpty(ChangePasswordTitleText))
									{
										<tr>
											<td align="center" colspan="@CpTotalColspan" style="@TitleTextStyle" class="@TitleTextStyle.CssClass">@ChangePasswordTitleText</td>
										</tr>
									}
									@if (!string.IsNullOrEmpty(InstructionText))
									{
										<tr>
											<td align="center" colspan="@CpTotalColspan" style="@InstructionTextStyle" class="@InstructionTextStyle.CssClass">@InstructionText</td>
										</tr>
									}
									@if (IsCpVertical)
									{
										@if (IsCpTextOnLeft)
										{
											@if (DisplayUserName)
											{
												<tr>
													<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
														<label for="@(ID + "_UserName")">@UserNameLabelText</label>
													</td>
													<td>
														<InputText @bind-Value="@Model.UserName" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_UserName")" />
													</td>
												</tr>
											}
											<tr>
												<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
													<label for="@(ID + "_CurrentPassword")">@PasswordLabelText</label>
												</td>
												<td>
													<InputText type="password" @bind-Value="@Model.CurrentPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_CurrentPassword")" />
												</td>
											</tr>
											<tr>
												<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
													<label for="@(ID + "_NewPassword")">@NewPasswordLabelText</label>
												</td>
												<td>
													<InputText type="password" @bind-Value="@Model.NewPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_NewPassword")" />
												</td>
											</tr>
											<tr>
												<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
													<label for="@(ID + "_ConfirmNewPassword")">@ConfirmNewPasswordLabelText</label>
												</td>
												<td>
													<InputText type="password" @bind-Value="@Model.ConfirmNewPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_ConfirmNewPassword")" />
												</td>
											</tr>
										}
										else
										{
											@* TextOnTop: labels above inputs *@
											@if (DisplayUserName)
											{
												<tr>
													<td colspan="2" style="@LabelStyle" class="@LabelStyle.CssClass">
														<label for="@(ID + "_UserName")">@UserNameLabelText</label>
													</td>
												</tr>
												<tr>
													<td colspan="2">
														<InputText @bind-Value="@Model.UserName" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_UserName")" />
													</td>
												</tr>
											}
											<tr>
												<td colspan="2" style="@LabelStyle" class="@LabelStyle.CssClass">
													<label for="@(ID + "_CurrentPassword")">@PasswordLabelText</label>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<InputText type="password" @bind-Value="@Model.CurrentPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_CurrentPassword")" />
												</td>
											</tr>
											<tr>
												<td colspan="2" style="@LabelStyle" class="@LabelStyle.CssClass">
													<label for="@(ID + "_NewPassword")">@NewPasswordLabelText</label>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<InputText type="password" @bind-Value="@Model.NewPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_NewPassword")" />
												</td>
											</tr>
											<tr>
												<td colspan="2" style="@LabelStyle" class="@LabelStyle.CssClass">
													<label for="@(ID + "_ConfirmNewPassword")">@ConfirmNewPasswordLabelText</label>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<InputText type="password" @bind-Value="@Model.ConfirmNewPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_ConfirmNewPassword")" />
												</td>
											</tr>
										}
									}
									else
									{
										@* Horizontal layout: fields side-by-side *@
										@if (IsCpTextOnLeft)
										{
											@if (DisplayUserName)
											{
												<tr>
													<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
														<label for="@(ID + "_UserName")">@UserNameLabelText</label>
													</td>
													<td>
														<InputText @bind-Value="@Model.UserName" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_UserName")" />
													</td>
													<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
														<label for="@(ID + "_CurrentPassword")">@PasswordLabelText</label>
													</td>
													<td>
														<InputText type="password" @bind-Value="@Model.CurrentPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_CurrentPassword")" />
													</td>
												</tr>
												<tr>
													<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
														<label for="@(ID + "_NewPassword")">@NewPasswordLabelText</label>
													</td>
													<td>
														<InputText type="password" @bind-Value="@Model.NewPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_NewPassword")" />
													</td>
													<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
														<label for="@(ID + "_ConfirmNewPassword")">@ConfirmNewPasswordLabelText</label>
													</td>
													<td>
														<InputText type="password" @bind-Value="@Model.ConfirmNewPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_ConfirmNewPassword")" />
													</td>
												</tr>
											}
											else
											{
												<tr>
													<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
														<label for="@(ID + "_CurrentPassword")">@PasswordLabelText</label>
													</td>
													<td>
														<InputText type="password" @bind-Value="@Model.CurrentPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_CurrentPassword")" />
													</td>
													<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
														<label for="@(ID + "_NewPassword")">@NewPasswordLabelText</label>
													</td>
													<td>
														<InputText type="password" @bind-Value="@Model.NewPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_NewPassword")" />
													</td>
												</tr>
												<tr>
													<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
														<label for="@(ID + "_ConfirmNewPassword")">@ConfirmNewPasswordLabelText</label>
													</td>
													<td>
														<InputText type="password" @bind-Value="@Model.ConfirmNewPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_ConfirmNewPassword")" />
													</td>
													<td colspan="2"></td>
												</tr>
											}
										}
										else
										{
											@* Horizontal + TextOnTop *@
											<tr>
												@if (DisplayUserName)
												{
													<td style="@LabelStyle" class="@LabelStyle.CssClass">
														<label for="@(ID + "_UserName")">@UserNameLabelText</label>
													</td>
												}
												<td style="@LabelStyle" class="@LabelStyle.CssClass">
													<label for="@(ID + "_CurrentPassword")">@PasswordLabelText</label>
												</td>
												<td style="@LabelStyle" class="@LabelStyle.CssClass">
													<label for="@(ID + "_NewPassword")">@NewPasswordLabelText</label>
												</td>
												<td style="@LabelStyle" class="@LabelStyle.CssClass">
													<label for="@(ID + "_ConfirmNewPassword")">@ConfirmNewPasswordLabelText</label>
												</td>
											</tr>
											<tr>
												@if (DisplayUserName)
												{
													<td>
														<InputText @bind-Value="@Model.UserName" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_UserName")" />
													</td>
												}
												<td>
													<InputText type="password" @bind-Value="@Model.CurrentPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_CurrentPassword")" />
												</td>
												<td>
													<InputText type="password" @bind-Value="@Model.NewPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_NewPassword")" />
												</td>
												<td>
													<InputText type="password" @bind-Value="@Model.ConfirmNewPassword" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_ConfirmNewPassword")" />
												</td>
											</tr>
										}
									}
									@if (!string.IsNullOrEmpty(PasswordHintText))
									{
										<tr>
											<td colspan="@CpTotalColspan">@PasswordHintText</td>
										</tr>
									}
									@if (ShowFailureText)
									{
										<tr>
											<td align="center" colspan="@CpTotalColspan" style="@FailureTextStyle" class="@FailureTextStyle.CssClass">
												@ChangePasswordFailureText
											</td>
										</tr>
									}
									<tr>
										<td align="right" colspan="@CpTotalColspan">
											<input type="submit" value="@ChangePasswordButtonText" name="@(ID + "$ChangePasswordButton")" id="@(ID + "_ChangePasswordButton")" style="@LoginButtonStyle" class="@LoginButtonStyle.CssClass" />
											<input type="button" value="@CancelButtonText" @onclick="HandleCancelClick" name="@(ID + "$CancelButton")" id="@(ID + "_CancelButton")" />
										</td>
									</tr>
									@if (HasCreateUser || HasPasswordRecovery || HasHelp || HasEditProfile)
									{
										<tr>
											<td colspan="@CpTotalColspan">
												@if (!string.IsNullOrEmpty(CreateUserIconUrl))
												{
													<img src="@CreateUserIconUrl" alt="@CreateUserText" />
												}
												@if (!string.IsNullOrEmpty(CreateUserText))
												{
													<a id="@(ID + "_CreateUserLink")" href="@CreateUserUrl">@CreateUserText</a>
												}
												@if (HasCreateUser && (HasPasswordRecovery || HasHelp || HasEditProfile))
												{
													<br />
												}
												@if (!string.IsNullOrEmpty(PasswordRecoveryIconUrl))
												{
													<img src="@PasswordRecoveryIconUrl" alt="@PasswordRecoveryText" />
												}
												@if (!string.IsNullOrEmpty(PasswordRecoveryText))
												{
													<a id="@(ID + "_PasswordRecoveryLink")" href="@PasswordRecoveryUrl">@PasswordRecoveryText</a>
												}
												@if (HasPasswordRecovery && (HasHelp || HasEditProfile))
												{
													<br />
												}
												@if (!string.IsNullOrEmpty(HelpPageIconUrl))
												{
													<img src="@HelpPageIconUrl" alt="@HelpPageText" />
												}
												@if (!string.IsNullOrEmpty(HelpPageText))
												{
													<a id="@(ID + "_HelpLink")" href="@HelpPageUrl">@HelpPageText</a>
												}
												@if (HasHelp && HasEditProfile)
												{
													<br />
												}
												@if (!string.IsNullOrEmpty(EditProfileIconUrl))
												{
													<img src="@EditProfileIconUrl" alt="@EditProfileText" />
												}
												@if (!string.IsNullOrEmpty(EditProfileText))
												{
													<a id="@(ID + "_EditProfileLink")" href="@EditProfileUrl">@EditProfileText</a>
												}
											</td>
										</tr>
									}
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		}
	}
	else
	{
		@if (SuccessTemplate != null)
		{
			@SuccessTemplate
		}
		else
		{
			<table cellspacing="0" cellpadding="@BorderPadding" id="@ID" class="@GetCssClassOrNull()" style="border-collapse:collapse;@Style">
				<tbody>
					<tr>
						<td>
							<table cellpadding="0">
								<tbody>
									<tr>
										<td align="center" style="@TitleTextStyle" class="@TitleTextStyle.CssClass">@SuccessTitleText</td>
									</tr>
									<tr>
										<td>@SuccessText</td>
									</tr>
									<tr>
										<td align="right">
											<input type="submit" value="@ContinueButtonText" @onclick="HandleContinueClick" name="@(ID + "$ContinueButton")" id="@(ID + "_ContinueButton")" style="@LoginButtonStyle" class="@LoginButtonStyle.CssClass" />
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		}
	}

</Microsoft.AspNetCore.Components.Forms.EditForm>

@code {
	private bool IsCpVertical => Orientation == Enums.Orientation.Vertical;
	private bool IsCpTextOnLeft => TextLayout == LoginTextLayout.TextOnLeft;
	private int CpTotalColspan => IsCpVertical ? 2 : (IsCpTextOnLeft ? 4 : 4);

	private string GetCssClassOrNull()
	{
		return !string.IsNullOrEmpty(CssClass) ? CssClass : null;
	}
}
