@inherits BaseStyledComponent

@using BlazorWebFormsComponents.Validations;
@using Microsoft.AspNetCore.Components.Forms;
@using BlazorWebFormsComponents.Enums;

<CascadingValue Name="FailureTextStyle" Value="FailureTextStyle">
	<CascadingValue Name="TitleTextStyle" Value="TitleTextStyle">
		<CascadingValue Name="LabelStyle" Value="LabelStyle">
			<CascadingValue Name="HyperLinkStyle" Value="HyperLinkStyle">
				<CascadingValue Name="InstructionTextStyle" Value="InstructionTextStyle">
					<CascadingValue Name="TextBoxStyle" Value="TextBoxStyle">
						<CascadingValue Name="LoginButtonStyle" Value="SubmitButtonStyle">
							<CascadingValue Name="ValidatorTextStyle" Value="ValidatorTextStyle">
								<CascadingValue Name="SuccessTextStyle" Value="SuccessTextStyle">
									@ChildContent
								</CascadingValue>
							</CascadingValue>
						</CascadingValue>
					</CascadingValue>
				</CascadingValue>
			</CascadingValue>
		</CascadingValue>
	</CascadingValue>
</CascadingValue>

@if (CurrentStep == 0)
{
	@* Step 1: UserName *@
	@if (UserNameTemplate != null)
	{
		@UserNameTemplate
	}
	else
	{
		<Microsoft.AspNetCore.Components.Forms.EditForm Model="Model" OnValidSubmit="HandleUserNameSubmit">
			<table cellspacing="0" cellpadding="@BorderPadding" id="@ID" class="@CssClass" style="border-collapse:collapse;@Style" title="@ToolTip">
				<tbody>
					<tr>
						<td>
							<table cellpadding="0">
								<tbody>
									@if (!string.IsNullOrEmpty(UserNameTitleText))
									{
										<tr>
											<td align="center" colspan="2" style="@TitleTextStyle" class="@TitleTextStyle.CssClass">@UserNameTitleText</td>
										</tr>
									}
									@if (!string.IsNullOrEmpty(UserNameInstructionText))
									{
										<tr>
											<td align="center" colspan="2" style="@InstructionTextStyle" class="@InstructionTextStyle.CssClass">@UserNameInstructionText</td>
										</tr>
									}
									<tr>
										<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
											<label for="@(ID + "_UserName")">@UserNameLabelText</label>
										</td>
										<td>
											<InputText @bind-Value="@Model.UserName" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_UserName")" />
										</td>
									</tr>
									@if (ShowFailureText)
									{
										<tr>
											<td align="center" colspan="2" style="@FailureTextStyle" class="@FailureTextStyle.CssClass">
												@CurrentFailureText
											</td>
										</tr>
									}
									<tr>
										<td align="right" colspan="2">
											<input type="submit" value="@SubmitButtonText" name="@(ID + "$SubmitButton")" id="@(ID + "_SubmitButton")" style="@SubmitButtonStyle" class="@SubmitButtonStyle.CssClass" />
										</td>
									</tr>
									@if (HasHelp)
									{
										<tr>
											<td colspan="2">
												@if (!string.IsNullOrEmpty(HelpPageIconUrl))
												{
													<img src="@HelpPageIconUrl" alt="@HelpPageText" />
												}
												@if (!string.IsNullOrEmpty(HelpPageText))
												{
													<a id="@(ID + "_HelpLink")" href="@HelpPageUrl">@HelpPageText</a>
												}
											</td>
										</tr>
									}
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</Microsoft.AspNetCore.Components.Forms.EditForm>
	}
}
else if (CurrentStep == 1)
{
	@* Step 2: Question *@
	@if (QuestionTemplate != null)
	{
		@QuestionTemplate
	}
	else
	{
		<Microsoft.AspNetCore.Components.Forms.EditForm Model="Model" OnValidSubmit="HandleQuestionSubmit">
			<table cellspacing="0" cellpadding="@BorderPadding" id="@ID" class="@CssClass" style="border-collapse:collapse;@Style" title="@ToolTip">
				<tbody>
					<tr>
						<td>
							<table cellpadding="0">
								<tbody>
									@if (!string.IsNullOrEmpty(QuestionTitleText))
									{
										<tr>
											<td align="center" colspan="2" style="@TitleTextStyle" class="@TitleTextStyle.CssClass">@QuestionTitleText</td>
										</tr>
									}
									@if (!string.IsNullOrEmpty(QuestionInstructionText))
									{
										<tr>
											<td align="center" colspan="2" style="@InstructionTextStyle" class="@InstructionTextStyle.CssClass">@QuestionInstructionText</td>
										</tr>
									}
									<tr>
										<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">User Name:</td>
										<td>@Model.UserName</td>
									</tr>
									<tr>
										<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">Question:</td>
										<td>@QuestionText</td>
									</tr>
									<tr>
										<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
											<label for="@(ID + "_Answer")">@QuestionLabelText</label>
										</td>
										<td>
											<InputText @bind-Value="@Model.Answer" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" id="@(ID + "_Answer")" />
										</td>
									</tr>
									@if (ShowFailureText)
									{
										<tr>
											<td align="center" colspan="2" style="@FailureTextStyle" class="@FailureTextStyle.CssClass">
												@CurrentFailureText
											</td>
										</tr>
									}
									<tr>
										<td align="right" colspan="2">
											<input type="submit" value="@SubmitButtonText" name="@(ID + "$SubmitButton")" id="@(ID + "_SubmitButton")" style="@SubmitButtonStyle" class="@SubmitButtonStyle.CssClass" />
										</td>
									</tr>
									@if (HasHelp)
									{
										<tr>
											<td colspan="2">
												@if (!string.IsNullOrEmpty(HelpPageIconUrl))
												{
													<img src="@HelpPageIconUrl" alt="@HelpPageText" />
												}
												@if (!string.IsNullOrEmpty(HelpPageText))
												{
													<a id="@(ID + "_HelpLink")" href="@HelpPageUrl">@HelpPageText</a>
												}
											</td>
										</tr>
									}
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</Microsoft.AspNetCore.Components.Forms.EditForm>
	}
}
else
{
	@* Step 3: Success *@
	@if (SuccessTemplate != null)
	{
		@SuccessTemplate
	}
	else
	{
		<table cellspacing="0" cellpadding="@BorderPadding" id="@ID" class="@CssClass" style="border-collapse:collapse;@Style" title="@ToolTip">
			<tbody>
				<tr>
					<td>
						<table cellpadding="0">
							<tbody>
								<tr>
									<td align="center" style="@SuccessTextStyle" class="@SuccessTextStyle.CssClass">@SuccessText</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	}
}
