@inherits BaseWebFormsComponent

@{
	var activeAdvertisment = GetActiveAdvertisment();
}

<a href="@activeAdvertisment.NavigateUrl" target="@Target"><img src="@activeAdvertisment.ImageUrl" width="@activeAdvertisment.Width" height="@activeAdvertisment.Height" alt="@activeAdvertisment.AlternateText" /></a>
