@inherits BaseWebFormsComponent

@{
	var activeAdvertisment = GetActiveAdvertisment();
}

@if (activeAdvertisment != null)
{
	<a href="@activeAdvertisment.NavigateUrl" target="@Target" style="@CalculatedStyle" class="@CssClass"><img src="@activeAdvertisment.ImageUrl" width="@activeAdvertisment.Width" height="@activeAdvertisment.Height" alt="@activeAdvertisment.AlternateText" /></a>
}
