@inherits ButtonBaseComponent

@if (Visible)
{
<button type="@CalculatedButtonType"
				id="@ClientID"
				@onclick="Click"
				OnClientClick="@OnClientClick"
				style="@Style"
				class="@CalculatedCssClass"
				disabled="@(Enabled ? null : "disabled")"
				title="@ToolTip"
				>@Text</button>
}
