@typeparam ItemType
@inherits BaseColumn<ItemType>


@code
{
	RenderFragment RenderButton(string text) =>
	@<text><Button CommandName="@CommandName" CommandArgument="@DataItemIndex" OnCommand="a => OnCommand(this, a.CommandName, a.CommandArgument)">@text</Button></text>;

	RenderFragment RenderImage() =>
	@<text><ImageButton ImageUrl="@ImageUrl"
											CommandName="@CommandName"
											CommandArgument="@DataItemIndex"
											OnCommand="a => OnCommand(this, a.CommandName, a.CommandArgument)"></ImageButton></text>;

	RenderFragment RenderLink(string text) =>
	@<text><LinkButton CommandName="@CommandName" CommandArgument="@DataItemIndex" OnCommand="a => OnCommand(this, a.CommandName, a.CommandArgument)">@text</LinkButton></text>;

}
