@inherits ButtonBaseComponent

<button type="@CalculatedButtonType"
				@onclick="Click"
				OnClientClick="@OnClientClick"
				style="@CalculatedStyle"
				class="@CalculatedCssClass"
				disabled="@(Enabled ? null : "disabled")"
				>@Text</button>
