@inherits ButtonBaseComponent

@if (Enabled)
{
	<button type="@CalculatedButtonType" @onclick="Click" OnClientClick="@OnClientClick" style="@CalculatedStyle" class="@CssClass">@Text</button>
}
else
{
	<button type="@CalculatedButtonType" @onclick="Click" OnClientClick="@OnClientClick" style="@CalculatedStyle" class="@CssClass" disabled>@Text</button>
}
