@inherits BaseStyledComponent
@using BlazorWebFormsComponents.Enums

<CascadingValue Name="ParentCalendar" Value="this" IsFixed="true">
	@DayStyleContent
	@TitleStyleContent
	@DayHeaderStyleContent
	@TodayDayStyleContent
	@SelectedDayStyleContent
	@OtherMonthDayStyleContent
	@WeekendDayStyleContent
	@NextPrevStyleContent
	@SelectorStyleContent
</CascadingValue>

@if (Visible)
{
	<table id="@ClientID"
				 class="@CssClass"
				 style="@GetTableStyle()"
				 cellpadding="@CellPadding"
				 cellspacing="@CellSpacing"
				 border="@GetBorder()"
				 title="@ToolTip">
		@if (!string.IsNullOrEmpty(Caption))
		{
			<caption align="@(CaptionAlign != TableCaptionAlign.NotSet ? CaptionAlign.ToString().ToLowerInvariant() : null)">@Caption</caption>
		}
		<tbody>
		@if (ShowTitle)
		{
			<tr>
				@if (SelectionMode == CalendarSelectionMode.DayWeek || SelectionMode == CalendarSelectionMode.DayWeekMonth)
				{
					<td class="@GetEffectiveCss(SelectorStyle, SelectorStyleCss)" style="@GetEffectiveStyle(SelectorStyle)">
						@if (SelectionMode == CalendarSelectionMode.DayWeekMonth)
						{
							<a @onclick="HandleMonthClick" @onclick:preventDefault="true" style="cursor:pointer">@((MarkupString)SelectMonthText)</a>
						}
					</td>
				}
				<td colspan="7" class="@GetEffectiveCss(TitleStyle, TitleStyleCss)" style="@GetEffectiveStyle(TitleStyle)">
					<table style="width:100%;border-collapse:collapse;">
						<tbody><tr>
							@if (ShowNextPrevMonth)
							{
								<td style="width:15%;@GetEffectiveStyle(NextPrevStyle)" class="@GetEffectiveCss(NextPrevStyle, NextPrevStyleCss)">
									<a @onclick="HandlePreviousMonth" @onclick:preventDefault="true" style="cursor:pointer;" title="Go to the previous month">@((MarkupString)PrevMonthText)</a>
								</td>
							}
							<td align="center" style="@(ShowNextPrevMonth ? "width:70%;" : null)">@GetTitleText()</td>
							@if (ShowNextPrevMonth)
							{
								<td style="width:15%;@GetEffectiveStyle(NextPrevStyle)" class="@GetEffectiveCss(NextPrevStyle, NextPrevStyleCss)" align="right">
									<a @onclick="HandleNextMonth" @onclick:preventDefault="true" style="cursor:pointer;" title="Go to the next month">@((MarkupString)NextMonthText)</a>
								</td>
							}
						</tr></tbody>
					</table>
				</td>
			</tr>
		}
		@if (ShowDayHeader)
		{
			<tr>
				@if (SelectionMode == CalendarSelectionMode.DayWeek || SelectionMode == CalendarSelectionMode.DayWeekMonth)
				{
					<th class="@GetEffectiveCss(SelectorStyle, SelectorStyleCss)" style="@GetEffectiveStyle(SelectorStyle)"></th>
				}
				@foreach (var day in GetDayHeaders())
				{
					<th class="@GetEffectiveCss(DayHeaderStyle, DayHeaderStyleCss)" style="@GetEffectiveStyle(DayHeaderStyle)" abbr="@GetFullDayName(day)" align="center" scope="@(UseAccessibleHeader ? "col" : null)">
						@GetDayName(day)
					</th>
				}
			</tr>
		}
		@foreach (var week in GetCalendarWeeks())
		{
			<tr>
				@if (SelectionMode == CalendarSelectionMode.DayWeek || SelectionMode == CalendarSelectionMode.DayWeekMonth)
				{
					<td class="@GetEffectiveCss(SelectorStyle, SelectorStyleCss)" style="@GetEffectiveStyle(SelectorStyle)" align="center">
						<a @onclick="() => HandleWeekClick(week)" @onclick:preventDefault="true" style="cursor:pointer">@((MarkupString)SelectWeekText)</a>
					</td>
				}
				@foreach (var date in week)
				{
					var dayArgs = CreateDayRenderArgs(date);
					<td class="@GetDayCellCss(date)" style="@GetDayCellStyle(date)" align="center">
						@if (dayArgs.IsSelectable)
						{
							<a @onclick="() => HandleDayClick(date)" @onclick:preventDefault="true" style="cursor:pointer;" title="@GetDayTitle(date)">
								@date.Day
							</a>
						}
						else
						{
							<span>@date.Day</span>
						}
					</td>
				}
			</tr>
		}
		</tbody>
	</table>
}
