@inherits BaseModelBindingComponent<ItemType>
@using BlazorWebFormsComponents.Enum

@typeparam ItemType

	<CascadingValue Name="HeaderStyle" Value="HeaderStyle">
		@ChildContent
	</CascadingValue>

@switch (RepeatLayout)
{

	case TableRepeatLayout t:
		<table>

			@if (HeaderTemplate != null)
			{

				<tr><td style="@HeaderStyle">@HeaderTemplate</td></tr>

			}

			@if (Items?.Any() ?? false)
			{
				@foreach (var item in Items)
				{

					<tr><td>@ItemTemplate(item)</td></tr>

				}
			}

		</table>
		break;
	case FlowRepeatLayout f:

		<span>

			@if (HeaderTemplate != null)
			{

				<span>@HeaderTemplate</span><br />

			}

			@if (Items?.Any() ?? false)
			{

				@foreach (var item in Items)
				{

					<span>@ItemTemplate(item)</span><br />

				}
			}

		</span>

		break;

}