@inherits BaseModelBindingComponent<ItemType>
@using BlazorWebFormsComponents.Enums

@typeparam ItemType

@if (Items != null)
{

	<CascadingValue Name="HeaderStyle" Value="HeaderStyle">
		@ChildContent
	</CascadingValue>


	@switch (RepeatLayout)
	{

		case TableRepeatLayout t:
<table accesskey="@AccessKey" cellpadding="@(CellPadding == default ? null : (int?)CellPadding)" cellspacing="@(CellSpacing == default ? null : (int?)CellSpacing)" style="border-collapse:collapse;@CalculatedStyle" title="@ToolTip">

	@if (HeaderTemplate != null && ShowHeader)
	{

		if (!string.IsNullOrEmpty(Caption)) {
			<caption align="@(CaptionAlign == VerticalAlign.NotSet ? null : CaptionAlign.ToString())">@Caption</caption>
		}

	<tr>
		@if (UseAccessibleHeader)
		{
			<th style="@HeaderStyle" class="@HeaderStyle.CssClass">@HeaderTemplate</th>
		}
		else
		{
			<td style="@HeaderStyle" class="@HeaderStyle.CssClass">@HeaderTemplate</td>
		}
		</tr>

	}

	@if (Items?.Any() ?? false)
	{
		@foreach (var item in Items)
		{

			<tr><td>@ItemTemplate(item)</td></tr>

		}
	}

	@if (FooterTemplate != null && ShowFooter)
	{

		<tr><td style="@FooterStyle" class="@FooterStyle.CssClass">@FooterTemplate</td></tr>

	}


</table>
			break;
		case FlowRepeatLayout f:

<span accesskey="@AccessKey" style="@CalculatedStyle" title="@ToolTip">

	@if (HeaderTemplate != null && ShowHeader)
	{

		<span class="@HeaderStyle.CssClass" style="@HeaderStyle">@HeaderTemplate</span><br />

	}

	@if (Items?.Any() ?? false)
	{

		@foreach (var item in Items)
		{

			<span>@ItemTemplate(item)</span><br />

		}
	}

	@if (FooterTemplate != null && ShowFooter)
	{

		<span class="@FooterStyle.CssClass" style="@FooterStyle">@FooterTemplate</span><br />

	}



</span>

			break;

	}

}