@using BlazorWebFormsComponents.DataBinding
@typeparam ItemType
@inherits BaseListControl<ItemType>

@if (Visible)
{
	<select id="@ClientID" class="@CssClass" style="@Style" title="@ToolTip"
			disabled="@(!Enabled)" @onchange="HandleChange">
		@foreach (var item in GetItems())
		{
			<option value="@item.Value" selected="@(item.Value == SelectedValue)">
				@item.Text
			</option>
		}
	</select>
}
