@using BlazorWebFormsComponents.DataBinding
@inherits DataBoundComponent<ItemType>
@typeparam ItemType
<table cellspacing="0" style="border-collapse:collapse;">
	@* Header Row *@
	@if (HeaderTemplate != null || !string.IsNullOrEmpty(HeaderText))
	{
		<tr>
			<td colspan="2">
				@if (HeaderTemplate != null)
				{
					@HeaderTemplate
				}
				else
				{
					@HeaderText
				}
			</td>
		</tr>
	}

	@if (Items == null || !Items.Any())
	{
		@* Empty Data Row *@
		@if (EmptyDataTemplate != null)
		{
			<tr>
				<td colspan="2">
					@EmptyDataTemplate
				</td>
			</tr>
		}
		else if (!string.IsNullOrEmpty(EmptyDataText))
		{
			<tr>
				<td colspan="2">@EmptyDataText</td>
			</tr>
		}
	}
	else
	{
		<tr>
			<td colspan="2">
				@if (CurrentItem == null)
				{
					<span>Loading...</span>
				}
				else
				{
					DataBinding(EventArgs.Empty);

					<CascadingValue Name="CurrentDataBoundItem" Value="CurrentItem">
						@switch (CurrentMode) {
							case Enums.FormViewMode.ReadOnly:
								@ItemTemplate(CurrentItem);
								break;
							case Enums.FormViewMode.Edit:
								@EditItemTemplate(CurrentItem);
								break;
							case Enums.FormViewMode.Insert:
								@InsertItemTemplate(CurrentItem);
								break;
						}
					</CascadingValue>

					DataBound(EventArgs.Empty);
				}
			</td>
		</tr>
		<tr>
			<td>
				<table>
					@** BEGIN PAGER **@
					<tr>
						@for (int i = 1; i <= Items.Count(); i++)
						{
							if (i == Position)
							{
								<td><span>@i</span></td>
							}
							else
							{
								var thisPosition = i;
								<td><a href="javascript:void();" @onclick="@(() => { Position = thisPosition; })">@i</a></td>
							}
						}
					</tr>
				</table>
			</td>
		</tr>
	}

	@* Footer Row *@
	@if (FooterTemplate != null || !string.IsNullOrEmpty(FooterText))
	{
		<tr>
			<td colspan="2">
				@if (FooterTemplate != null)
				{
					@FooterTemplate
				}
				else
				{
					@FooterText
				}
			</td>
		</tr>
	}
</table>
