@using BlazorWebFormsComponents.DataBinding
@using Interfaces
@typeparam ItemType
@attribute [CascadingTypeParameter(nameof(ItemType))]
@inherits DataBoundComponent<ItemType>

<CascadingValue Name="ParentGridView" Value="this" IsFixed="true">
	@RowStyleContent
	@AlternatingRowStyleContent
	@HeaderStyleContent
	@FooterStyleContent
	@EmptyDataRowStyleContent
	@PagerStyleContent
	@EditRowStyleContent
	@SelectedRowStyleContent
	@PagerSettingsContent
</CascadingValue>

@if (ColumnList.Any())
{
	<table class="@CssClass" rules="@GetGridLinesRules()" cellpadding="@(CellPadding >= 0 ? CellPadding.ToString() : null)" cellspacing="@(CellSpacing >= 0 ? CellSpacing.ToString() : null)" title="@ToolTip">
		@if (!string.IsNullOrEmpty(Caption))
		{
			<caption style="@GetCaptionStyle()">@Caption</caption>
		}
		@if (ShouldRenderHeader)
		{
		<thead>
			<tr style="@HeaderStyle?.ToString()">
				@foreach (IColumn<ItemType> column in ColumnList)
				{
					@if (AllowSorting && !string.IsNullOrEmpty(column.SortExpression))
					{
						<th scope="@(UseAccessibleHeader ? "col" : null)"><a href="javascript:void(0);" @onclick="@(() => Sort(column.SortExpression))" @onclick:preventDefault>@column.HeaderText</a></th>
					}
					else
					{
						<th scope="@(UseAccessibleHeader ? "col" : null)">@column.HeaderText</th>
					}
				}
				@if (ShowCommandColumn)
				{
					<th scope="@(UseAccessibleHeader ? "col" : null)"></th>
				}
			</tr>
		</thead>
		}
		<tbody>
			@if (HasData)
			{
				var index = 0;
				@foreach (ItemType item in PagedItems)
				{
					var rowIndex = index;
					var rowStyle = GetRowStyle(rowIndex);
					<CascadingValue Value="this" Name="RowCollection">
						<GridViewRow DataItem="item" Columns="ColumnList" DataItemIndex="rowIndex" IsEditing="(rowIndex == EditIndex)" IsSelected="(rowIndex == SelectedIndex)" EditRowStyle="EditRowStyle" RowStyle="rowStyle" GridView="this" />
					</CascadingValue>

					index++;
				}
			}
			else
			{
				<tr style="@EmptyDataRowStyle?.ToString()">
					<td colspan=@TotalColumnCount>
						@if (EmptyDataTemplate != null)
						{
							@EmptyDataTemplate
						}
						else
						{
							@EmptyDataText
						}
					</td>
				</tr>
			}
		</tbody>
		@if (ShowFooter || (AllowPaging && TotalPages > 1))
		{
			<tfoot>
				@if (ShowFooter)
				{
				<tr style="@FooterStyle?.ToString()">
					<td colspan="@TotalColumnCount"></td>
				</tr>
				}
				@if (AllowPaging && TotalPages > 1)
				{
				<tr style="@PagerStyle?.ToString()">
					<td colspan="@TotalColumnCount">
						<table>
							<tr>
								@for (int i = 0; i < TotalPages; i++)
								{
									var pageIndex = i;
									@if (i == PageIndex)
									{
										<td><span>@(i + 1)</span></td>
									}
									else
									{
										<td><a href="javascript:void(0);" @onclick="@(() => GoToPage(pageIndex))" @onclick:preventDefault>@(pageIndex + 1)</a></td>
									}
								}
							</tr>
						</table>
					</td>
				</tr>
				}
			</tfoot>
		}
	</table>
}

<CascadingValue Value="this" Name="ColumnCollection">
	@Columns
</CascadingValue>
