@using BlazorWebFormsComponents.DataBinding
@using Interfaces
@typeparam ItemType
@inherits DataBoundComponent<ItemType>
@if (ColumnList.Any())
{

	<text>Style: @(ColumnList[0].HeaderStyle.ForeColor)</text>

	<table class="@CssClass">

		@if (ShowHeader) {
			<thead>
				<tr>
					@foreach (IColumn<ItemType> column in ColumnList)
					{
						<th class="@column.HeaderStyle.CssClass" style="@column.HeaderStyle">@column.HeaderText</th>
					}
				</tr>
			</thead>
		}
		<tbody>
			@if (Items != null && Items.Any())
			{
				var index = 0;
				@foreach (ItemType item in Items)
				{
					<CascadingValue Value="this" Name="RowCollection">
						<GridViewRow DataItem="item" Columns="ColumnList" DataItemIndex="index" />
					</CascadingValue>

					index++;
				}
			}
			else
			{
				<tr>
					<td colspan=@ColumnList.Count>
						@EmptyDataText
					</td>
				</tr>
			}
		</tbody>
		@if (ShowFooter) {
			<tfoot>
				<tr>
					@foreach (IColumn<ItemType> column in ColumnList)
					{
							<td>@column.FooterText</td>
					}
				</tr>
			</tfoot>
		}
	</table>
}

<CascadingValue Value="this" Name="ColumnCollection">
	@Columns
</CascadingValue>
