@using BlazorWebFormsComponents.DataBinding
@using Interfaces
@typeparam ItemType
@attribute [CascadingTypeParameter(nameof(ItemType))]
@inherits DataBoundComponent<ItemType>
@if (ColumnList.Any())
{
	<table class="@CssClass">
		<thead>
			<tr>
				@foreach (IColumn<ItemType> column in ColumnList)
				{
					@if (AllowSorting && !string.IsNullOrEmpty(column.SortExpression))
					{
						<th><a href="javascript:void(0);" @onclick="@(() => Sort(column.SortExpression))" @onclick:preventDefault>@column.HeaderText</a></th>
					}
					else
					{
						<th>@column.HeaderText</th>
					}
				}
				@if (ShowCommandColumn)
				{
					<th></th>
				}
			</tr>
		</thead>
		<tbody>
			@if (Items != null && Items.Any())
			{
				var index = 0;
				@foreach (ItemType item in PagedItems)
				{
					var rowIndex = index;
					<CascadingValue Value="this" Name="RowCollection">
						<GridViewRow DataItem="item" Columns="ColumnList" DataItemIndex="rowIndex" IsEditing="(rowIndex == EditIndex)" EditRowStyle="EditRowStyle" GridView="this" />
					</CascadingValue>

					index++;
				}
			}
			else
			{
				<tr>
					<td colspan=@TotalColumnCount>
						@EmptyDataText
					</td>
				</tr>
			}
		</tbody>
		@if (AllowPaging && TotalPages > 1)
		{
			<tfoot>
				<tr>
					<td colspan="@TotalColumnCount">
						<table>
							<tr>
								@for (int i = 0; i < TotalPages; i++)
								{
									var pageIndex = i;
									@if (i == PageIndex)
									{
										<td><span>@(i + 1)</span></td>
									}
									else
									{
										<td><a href="javascript:void(0);" @onclick="@(() => GoToPage(pageIndex))" @onclick:preventDefault>@(pageIndex + 1)</a></td>
									}
								}
							</tr>
						</table>
					</td>
				</tr>
			</tfoot>
		}
	</table>
}

<CascadingValue Value="this" Name="ColumnCollection">
	@Columns
</CascadingValue>
