@inherits BaseStyledComponent

@if (Visible)
{

	@if (NavigationUrl == null)
	{
		<a id="@ClientID" class="@CssClass" style="@Style" title="@ToolTip">@Text</a>
	}
	else
	{
		<a id="@ClientID" href="@NavigationUrl" target="@Target" title="@ToolTip" class="@CssClass" style="@Style">@Text</a>
	}

}
