@inherits BaseWebFormsComponent

@if (Visible)
{

	@if (NavigationUrl == null)
	{
		<a id="@ID" class="@CssClass" style="@CalculatedStyle" title="@ToolTip">@Text</a>
	}
	else
	{
		<a id="@ID" href="@NavigationUrl" target="@Target" title="@ToolTip" class="@CssClass" style="@CalculatedStyle">@Text</a>
	}

}
