@inherits BaseStyledComponent

@if (Visible)
{

	@if (NavigateUrl == null)
	{
		<a id="@ClientID" class="@CssClass" style="@Style" title="@ToolTip" accesskey="@(string.IsNullOrEmpty(AccessKey) ? null : AccessKey)">@Text</a>
	}
	else
	{
		<a id="@ClientID" href="@NavigateUrl" target="@Target" title="@ToolTip" class="@CssClass" style="@Style" accesskey="@(string.IsNullOrEmpty(AccessKey) ? null : AccessKey)">@Text</a>
	}

}
