@inherits ButtonBaseComponent

@if (PostBackUrl == null)
{
	<a id="@ClientID" @onclick="@Click" OnClientClick="@OnClientClick" href="javascript:void(0)" class="@GetCssClassOrNull()" title="@ToolTip">@Text</a>
}
else
{
	<a id="@ClientID" @onclick="@Click" OnClientClick="@OnClientClick" href="@PostBackUrl" class="@GetCssClassOrNull()" title="@ToolTip">@Text</a>
}

@code {
	private string GetCssClassOrNull()
	{
		return !string.IsNullOrEmpty(CssClass) ? CssClass : null;
	}
}
