@inherits ButtonBaseComponent

@if (PostBackUrl == null)
{
	<a id="@ClientID" @onclick="@Click" OnClientClick="@OnClientClick" title="@ToolTip">@Text</a>
}
else
{
	<a id="@ClientID" @onclick="@Click" OnClientClick="@OnClientClick" href="@PostBackUrl" title="@ToolTip">@Text</a>
}
