@using BlazorWebFormsComponents.DataBinding
@using BlazorWebFormsComponents.Enums
@typeparam TItem
@inherits BaseListControl<TItem>

@if (Visible)
{
	<select class="@CssClass" style="@Style" title="@ToolTip"
			size="@Rows"
			multiple="@(SelectionMode == ListSelectionMode.Multiple ? true : (bool?)null)"
			disabled="@(!Enabled)" @onchange="HandleChange">
		@foreach (var item in GetItems())
		{
			<option value="@item.Value"
					selected="@IsSelected(item.Value)"
					disabled="@(!item.Enabled)">
				@item.Text
			</option>
		}
	</select>
}
