@inherits BaseStyledComponent
@using BlazorComponentUtilities
@using BlazorWebFormsComponents.Enums

@if (!string.IsNullOrEmpty(SkipLinkText))
{
	<a class="skip-link" href="#@(ID)_SkipLink">@SkipLinkText</a>
}
<div id="@ID" class="@GetMenuCssClass()" style="@Style" title="@ToolTip">
@if (RenderingMode == MenuRenderingMode.Table)
{
	<CascadingValue Name="ParentMenu" Value="this" IsFixed="true">
		@DynamicMenuStyleContent
		@StaticMenuStyleContent
		@DynamicMenuItemStyleContent
		@StaticMenuItemStyleContent
	</CascadingValue>
	<table cellpadding="0" cellspacing="0" border="0">
	@if (Orientation == Orientation.Horizontal)
	{<tr><CascadingValue Name="ParentMenu" Value="this" IsFixed="true">@ChildContent@ChildNodesRenderFragment</CascadingValue></tr>}
	else
	{<CascadingValue Name="ParentMenu" Value="this" IsFixed="true">@ChildContent@ChildNodesRenderFragment</CascadingValue>}
	</table>
}
else
{
	<ul class="level1@(Orientation == Orientation.Horizontal ? " horizontal" : "")">
			<CascadingValue Name="ParentMenu" Value="this" IsFixed="true">
				@DynamicMenuStyleContent
				@StaticMenuStyleContent
				@DynamicMenuItemStyleContent
				@StaticMenuItemStyleContent
				@ChildContent
				@ChildNodesRenderFragment
			</CascadingValue>
 	</ul>
}
</div>
@if (!string.IsNullOrEmpty(SkipLinkText))
{
	<a id="@(ID)_SkipLink"></a>
}

<!-- Menu component style -->
<style type="text/css">
		@($"#{ID} img.icon") {
			border-style: none;
			vertical-align: middle;
		}

		@($"#{ID} img.separator") {
			border-style: none;
			display: block;
		}

		@($"#{ID} ul") {
			list-style: none;
			margin: 0;
			padding: 0;
			width: auto;
		}

		@($"#{ID} ul.horizontal > li") {
			display: inline-block;
		}

		@($"#{ID} ul.dynamic") {
			@DynamicMenuStyle?.ToStyle().ToString()
			z-index: 1;
		}

		@($"#{ID} ul.level1") {
			@StaticMenuStyle?.ToStyle().ToString()
		}

		@($"#{ID} a") {
			font-family: Arial;
			text-decoration: none;
			white-space: nowrap;
			display: block;
		}

		@($"#{ID} a.static") {
			@StaticMenuItemStyle?.ToStyle().ToString()
		}

		@($"#{ID} a.popout")
	{
		background-image: url(data:image/gif;base64,R0lGODlhDwAPAID/AMDAwAAAACH5BAEAAAAALAAAAAAPAA8AQAIXhI+ZwaHrnpxUtjhZ3fzh2mzXp4RgRxUAOw==);
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 14px;
	}

		@($"#{ID} a.dynamic") {
			@DynamicMenuItemStyle.ToStyle().ToString()
		}

@if (DynamicSelectedStyle != new DynamicSelectedStyle()) {
	@($"#{ID} a.dynamic.selected")
	@: {
		@DynamicSelectedStyle.ToStyle().ToString()
	@:}
}

		@($"#{ID} a.level2") {
			padding-left: @($"{StaticSubmenuIndent}px");
		}

		@($"#{ID} a.static.highlighted") {
			@StaticHoverStyle?.ToStyle().ToString()
		}

		@($"#{ID} a.dynamic.highlighted") {
			@DynamicHoverStyle.ToStyle().ToString()
		}


</style>

@code {
	private string GetMenuCssClass()
	{
		return !string.IsNullOrEmpty(CssClass) ? CssClass : null;
	}
}
