@inherits BaseStyledComponent

@if (Visible)
{
	@if (!string.IsNullOrEmpty(GroupingText))
	{
		<fieldset id="@ClientID" class="@CssClass" style="@ComputedStyle" dir="@DirectionAttr">
			<legend>@GroupingText</legend>
			@ChildContent
		</fieldset>
	}
	else
	{
		<div id="@ClientID" class="@CssClass" style="@ComputedStyle" dir="@DirectionAttr">
			@ChildContent
		</div>
	}
}
