@inherits BaseStyledComponent

@if (Visible)
{
	@if (!string.IsNullOrEmpty(GroupingText))
	{
		<fieldset class="@CssClass" style="@ComputedStyle" dir="@DirectionAttr">
			<legend>@GroupingText</legend>
			@ChildContent
		</fieldset>
	}
	else
	{
		<div class="@CssClass" style="@ComputedStyle" dir="@DirectionAttr">
			@ChildContent
		</div>
	}
}
