@inherits BaseStyledComponent

@if (Visible)
{
	<td id="@(string.IsNullOrEmpty(ClientID) ? null : ClientID)"
		class="@CssClass"
		style="@CombinedStyle"
		colspan="@ColSpanValue"
		rowspan="@RowSpanValue"
		headers="@AssociatedHeaderCellID"
		title="@ToolTip"
		@attributes="AdditionalAttributes">
		@if (ChildContent != null)
		{
			@ChildContent
		}
		else if (!string.IsNullOrEmpty(Text))
		{
			@Text
		}
	</td>
}
