@{
	string nodeImg = Expanded ? "_content/Fritz.BlazorWebFormsComponents/TreeView/node_expanded.gif" : "_content/Fritz.BlazorWebFormsComponents/TreeView/node_collapsed.gif";
	string nodeText = Expanded ? $"Collapse {Text}" : $"Expand {Text}";
}
@if ((Parent?.Expanded) ?? true)
{
<table cellpadding="0" cellspacing="0" style="border-width: 0;">
	<tr>
		@for (var i = 0; i < Depth; i++)
		{
			<td><div style="width:20px;height:1px;"></div></td>
		}

		@if (ChildContent != null && ParentTreeView.ShowExpandCollapse)
		{
			<td>
				<a href="javascript:void()" @onclick="HandleNodeExpand">
					<img src="@nodeImg" alt="@nodeText" title="@nodeText" style="border-width: 0;" />
				</a>
			</td>
		}
		else
		{
			<td><div style="width:20px;height:1px;"></div></td>
		}
		<td style="white-space: nowrap;">

			@if (ParentTreeView.ShowCheckBoxes != Enums.TreeNodeTypes.None) {

				var isRoot = (ParentTreeView.ShowCheckBoxes.HasFlag(Enums.TreeNodeTypes.Root) && Depth == 0);
				var isParent = ParentTreeView.ShowCheckBoxes.HasFlag(Enums.TreeNodeTypes.Parent) && (Depth > 0 && !(ChildContent is null));
				var isLeaf = ParentTreeView.ShowCheckBoxes.HasFlag(Enums.TreeNodeTypes.Leaf) && (ChildContent is null);

				@if (ShowCheckBox && (isRoot || isParent || isLeaf)) {
					<input type="checkbox" checked="@(Checked ? "checked" : null)" @onchange="args => { HandleCheckbox(this, args); }" />
				}

			}

			<a href="@NavigateUrl" target="@Target" title="@ToolTip" id="MainContent_SampleTreeViewt0">@Text</a>
		</td>
	</tr>
</table>
<CascadingValue Name="ParentTreeNode" Value="this">
	@ChildContent
</CascadingValue>
}
