@using BlazorWebFormsComponents.DataBinding
@inherits BaseDataBoundComponent

<div id="@ClientID" class="@CssClass" role="@(UseAccessibilityFeatures ? "tree" : null)" aria-label="@(UseAccessibilityFeatures ? "Tree navigation" : null)" title="@ToolTip">
<CascadingValue Name="ParentTreeView" Value="this" IsFixed="true">
@NodeStyleContent
@HoverNodeStyleContent
@LeafNodeStyleContent
@ParentNodeStyleContent
@RootNodeStyleContent
@SelectedNodeStyleContent
@ChildContent
@ChildNodesRenderFragment
</CascadingValue>
</div>
