@using BlazorWebFormsComponents.Enums
@inherits BaseStyledComponent

@if (Visible)
{
	@if (RenderMode == UpdatePanelRenderMode.Inline)
	{
		<span id="@ClientID" class="@CssClass" style="@Style" title="@ToolTip">@(ContentTemplate ?? ChildContent)</span>
	}
	else
	{
		<div id="@ClientID" class="@CssClass" style="@Style" title="@ToolTip">@(ContentTemplate ?? ChildContent)</div>
	}
}
