<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(Page.Title) - Wingtip Toys</title>

    <PlaceHolder>
        @(Scripts.Render("~/bundles/modernizr"))
    </PlaceHolder>
    <webopt:bundlereference path="~/Content/css" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <ScriptManager>
            <Scripts>
                @*To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 *@
                @*Framework Scripts*@
                <ScriptReference Name="MsAjaxBundle" />
                <ScriptReference Name="jquery" />
                <ScriptReference Name="bootstrap" />
                <ScriptReference Name="respond" />
                <ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <ScriptReference Name="WebFormsBundle" />
                @*Site Scripts*@
            </Scripts>
        </ScriptManager>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Wingtip Toys</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="adminLink" visible="false" 
                          href="/Admin/AdminPage">Admin</a></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/About">About</a></li>
                        <li><a href="/Contact">Contact</a></li>
                        <li><a href="/ProductList">Products</a></li>
                        <li><a href="/ShoppingCart" ID="cartCount">&nbsp;</a></li>
                    </ul>
                    <LoginView>
                        <AnonymousTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/Account/Register">Register</a></li>
                                <li><a href="/Account/Login">Log in</a></li>
                            </ul>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/Account/Manage" title="Manage your account">Hello, @(Context.User.Identity.GetUserName()) !</a></li>
                                <li>
                                    <LoginStatus LogoutAction="Redirect" LogoutText="Log off" LogoutPageUrl="~/" OnLoggingOut="Unnamed_LoggingOut" />
                                </li>
                            </ul>
                        </LoggedInTemplate>
                    </LoginView>
                </div>
            </div>
        </div>
        <div id="TitleContent" style="text-align: center">
            <a href="/">
                <Image  ID="Image1" ImageUrl="/Images/logo.jpg" BorderStyle="None" />
            </a>  
            <br />  
        </div>
        <div id="CategoryMenu" style="text-align: center">       
            <ListView ID="categoryList"  
                TItem="Category"
                SelectMethod="GetCategories" >
                <ItemTemplate>
                    <b style="font-size: large; font-style: normal">
                    <a href="<%#: GetRouteUrl("ProductsByCategoryRoute", new {categoryName = Item.CategoryName}) %>">
                        @context.CategoryName
                    </a>
                    </b>
                </ItemTemplate>
                <ItemSeparatorTemplate>  |  </ItemSeparatorTemplate>
            </ListView>
        </div>
        <div class="container body-content">
            <ContentPlaceHolder ID="MainContent">
            </ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; @(DateTime.Now.Year) - Wingtip Toys</p>
            </footer>
        </div>
    </body>
</html>

