@page "/ControlSamples/DataList/RepeatColumns"

<h2>DataList Repeat Layout Sample</h2>

<Nav />
<hr />
<p>Here is a flow datalist bound to a collection of 9 widgets in 3 Columns layout mode.</p>

<DataList @ref="simpleDataList0"
					runat="server"
					EnableViewState="false"
					RepeatDirection="Vertical"
					RepeatLayout="Flow"
					RepeatColumns="3"
					GridLines="Both"
					Context="Item"
					ItemType="SharedSampleObjects.Models.Widget">
	<HeaderTemplate>DataList Header </HeaderTemplate>
	<FooterTemplate>DataList Footer </FooterTemplate>
	<ItemTemplate> @Item.Id</ItemTemplate>
</DataList>

<hr />
<p>Here is a flow datalist bound to a collection of 9 widgets in 3 Columns layout mode.</p>

<DataList @ref="simpleDataList1"
					runat="server"
					EnableViewState="false"
					RepeatDirection="Vertical"
					RepeatLayout="Flow"
					RepeatColumns="3"
					GridLines="Both"
					Context="Item"
					ItemType="SharedSampleObjects.Models.Widget">
	<HeaderTemplate>DataList Header </HeaderTemplate>
	<FooterTemplate>DataList Footer </FooterTemplate>
	<ItemTemplate> @Item.Id</ItemTemplate>
</DataList>

<hr />
<p>Here is a table datalist bound to a collection of 10 widgets in 4 Columns layout mode.</p>

<DataList @ref="simpleDataList2"
					runat="server"
					EnableViewState="false"
					RepeatDirection="Vertical"
					RepeatLayout="BlazorWebFormsComponents.Enums.RepeatLayout.Table"
					RepeatColumns="4"
					GridLines="Both"
					Context="Item"
					ItemType="SharedSampleObjects.Models.Widget">
	<ItemTemplate>
		@Item.Name - @Item.Price.ToString("c")
	</ItemTemplate>
</DataList>

<hr />
<p>Here is a table datalist bound to a collection of 9 widgets in 3 Columns Vertically .</p>

<DataList @ref="simpleDataList3"
					runat="server"
					EnableViewState="false"
					RepeatDirection="Vertical"
					RepeatLayout="BlazorWebFormsComponents.Enums.RepeatLayout.Table"
					RepeatColumns="3"
					GridLines="Both"
					Context="Item"
					ItemType="SharedSampleObjects.Models.Widget">
	<ItemTemplate>
		@Item.Name - @Item.Price.ToString("c")
	</ItemTemplate>
</DataList>

<hr />
<p>Here is a table datalist bound to a collection of 9 widgets in 3 Columns Horizontally.</p>

<DataList @ref="simpleDataList4"
					runat="server"
					EnableViewState="false"
					RepeatDirection="Horizontal"
					RepeatLayout="BlazorWebFormsComponents.Enums.RepeatLayout.Table"
					RepeatColumns="3"
					GridLines="Both"
					Context="Item"
					ItemType="SharedSampleObjects.Models.Widget">
	<ItemTemplate>
		@Item.Name - @Item.Price.ToString("c")
	</ItemTemplate>
</DataList>

<hr />
<p>Here is a table datalist bound to a collection of 4 widgets in No Columns Horizontally.</p>

<DataList @ref="simpleDataList5"
					runat="server"
					EnableViewState="false"
					RepeatDirection="Horizontal"
					RepeatLayout="BlazorWebFormsComponents.Enums.RepeatLayout.Table"
					GridLines="Both"
					Context="Item"
					ItemType="SharedSampleObjects.Models.Widget">
	<ItemTemplate>
		@Item.Name - @Item.Price.ToString("c")
	</ItemTemplate>
</DataList>

@code {
	BlazorWebFormsComponents.DataList<Widget> simpleDataList0 { get; set; }
	BlazorWebFormsComponents.DataList<Widget> simpleDataList1 { get; set; }
	BlazorWebFormsComponents.DataList<Widget> simpleDataList2 { get; set; }
	BlazorWebFormsComponents.DataList<Widget> simpleDataList3 { get; set; }
	BlazorWebFormsComponents.DataList<Widget> simpleDataList4 { get; set; }
	BlazorWebFormsComponents.DataList<Widget> simpleDataList5 { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			simpleDataList0.DataSource = Widget.Widgets(9);
			simpleDataList1.DataSource = Widget.Widgets(9);
			simpleDataList2.DataSource = Widget.Widgets(10);
			simpleDataList3.DataSource = Widget.Widgets(9);
			simpleDataList4.DataSource = Widget.Widgets(9);
			simpleDataList5.DataSource = Widget.Widgets(4);
			simpleDataList0.DataBind();
			simpleDataList1.DataBind();
			simpleDataList2.DataBind();
			simpleDataList3.DataBind();
			simpleDataList4.DataBind();
			simpleDataList5.DataBind();
		}
		base.OnAfterRender(firstRender);
	}
}
