@page "/Account/Forgot"
@rendermode InteractiveServer

<h2>Forgot Password.</h2>
<p class="text-danger">@errorMessage</p>
<p class="text-success">@successMessage</p>
<div class="form-horizontal">
    <h4>Enter your email.</h4>
    <hr />
    <div class="form-group">
        <Label ID="EmailLabel" Text="Email" CssClass="col-md-2 control-label" />
        <div class="col-md-10">
            <TextBox ID="Email" CssClass="form-control" TextMode="@TextBoxMode.Email"
                     Text="@email" TextChanged="@(v => email = v)" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <Button ID="ForgotBtn" Text="Email Link" CssClass="btn btn-default" OnClick="HandleForgot" />
        </div>
    </div>
</div>
