@page "/ContosoUniversity/Courses"
@page "/Courses"
@rendermode InteractiveServer
@* CSS link converted from HeadContent *@
<link href="CSS/CSS_Courses.css" rel="stylesheet" />

@* BWFC ScriptManager and UpdatePanel are no-ops in Blazor; removed *@
            <div id="dropList">
                <h1 id="hdrCourse">Select Course</h1>
                <DropDownList TItem="string" ID="drpDepartments" Items="@Departments" @bind-SelectedValue="@SelectedDepartment"></DropDownList>
                <Button ID="btnSearchCourse" Text="Search Courses" OnClick="@OnSearchCourseClick"></Button>
                <br />
                <br />
                <GridView ItemType="Course" ID="grvCourses" Items="@CourseList" AllowPaging="true" DataKeyNames="CourseId"
                    PageSize="10" AutoGenerateColumns="false"
                    EmptyDataText="Choose Department To Display Courses">
                    <Columns>
                        <BoundField DataField="CourseId" HeaderText="ID" />
                        <BoundField DataField="CourseName" HeaderText="Course Name" />
                        <BoundField DataField="StudentsMax" HeaderText="Max Capacity" />
                    </Columns>
                </GridView>
            </div>
            <div id="autoComplete">
                <h1 id="crsByName">Courses By Name</h1>
                <TextBox ID="txtCourse" placeholder="Search Course..." @bind-Text="@SearchCourseName"></TextBox>
                <Button ID="search" Text="Search" OnClick="@OnSearchClick"></Button>
                <br />
                <br />
                @* TODO: AutoCompleteExtender is not supported by BWFC - implement as custom component or use HTML5 datalist *@
                <DetailsView ItemType="Course" ID="dtlCourses" Items="@CourseDetails" Width="Unit.Pixel(125)" Height="Unit.Pixel(50)" CssClass="details">
                </DetailsView>
            </div>
@* End of UpdatePanel content *@
